.button {
  background-color: transparent;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  border: none;
  font-size: 1em;
  padding: 4px 12px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:not(.disabled):hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.button.disabled {
  cursor: unset;
  border: none;
  outline: none;
}

.button.current {
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 4px;
}

.pagination {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.36rem;
  justify-content: center;
  user-select: none;
  margin-top: 1rem;
}
