.container {
  display: grid;
  gap: clamp(0.1rem, 1.5vw + 1rem, 3rem);
  grid-template-columns: repeat(auto-fit, var(--card-width));
  height: min-content;
  justify-content: center;
  padding: 2rem 0;
  position: relative;
  width: 100%;
}

.message {
  z-index: 2;
  font-style: italic;
  color: var(--color-primary);
}

.message::before {
  content: 'i';
  font-style: normal;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-inline-end: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: solid thin var(--color-primary);
}
