.card {
  background-color: var(--light-background);
  border-radius: 4px;
  box-shadow: 0 0 1px var(--color-primary-start);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  width: calc(var(--card-width) - 1rem);
  z-index: 2;

  &:hover {
    box-shadow:
      0 0 8px rgba(0, 0, 0, 0.1),
      0 0 3px var(--color-primary-start);
  }

  .insertMarker {
    --margin: 1rem;
    width: 0;
    height: calc(100% - 2 * var(--margin));
    margin-block: var(--margin);
    position: absolute;
    border: solid 1px var(--color-primary-start);
    top: 0;
    left: -1.25rem;
    z-index: 2;
    opacity: 0;
  }

  .header {
    font-size: 1.2rem;
    margin: 0;
    overflow: hidden;
  }

  .date {
    font-size: smaller;
    font-style: italic  ;
    margin: 0;
    opacity: 0.8;
  }
}
