.card {
  --margin: var(--gap, 2rem) / 2;
  background-color: var(--card-background-color, rgb(242, 253, 253));
  border-radius: --var(--border-radius, 4px);
  box-shadow: 0 0 1px var(--card-border-color, rgb(52, 203, 230));
  color: var(--card-color, rgba(0, 0, 0, 0.8));
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: calc(var(--margin) * 2);
  justify-content: space-between;
  padding: 0.5rem;
  position: relative;
  width: calc(var(--card-width) - 1rem);
  z-index: 2;

  &:hover {
    box-shadow:
      0 0 8px var(--card-shadow-color, rgba(0, 0, 0, 0.1)),
      0 0 3px var(--card-border-color, rgb(52, 203, 230));
  }

  .insertMarker {
    width: 0;
    height: calc(100% - (2 * var(--margin)));
    margin-block: var(--margin);
    position: absolute;
    border: solid 1px var(--card-border-color);
    top: calc(var(--margin));
    left: calc(var(--margin) * -1);
    z-index: 2;
    opacity: 0;
  }

  .header {
    font-size: 1.2rem;
    margin: 0;
    overflow: hidden;
  }

  .date {
    font-size: smaller;
    font-style: italic;
    margin: 0;
  }
}
