.overlay {
  align-items: flex-start;
  backdrop-filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  min-height: fit-content;
  min-width: 100%;
  overflow: scroll;
  position: fixed;
  top: 0;
  z-index: 3;
}

.modal {
  animation: unfold 0.5s ease-in-out forwards;
  background-color: var(--light-background);
  border-radius: 4px;
  border: none;
  box-shadow:
    0 0 1px var(--color-primary-start),
    0 0 16px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem auto;
  padding: 1rem 1.5rem;
  position: absolute;
  width: 75ch;
  z-index: 4;

  .close {
    background: transparent;
    border: none;
    cursor: pointer;
    height: 20px;
    margin: 1rem 1.2rem;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    user-select: none;
    width: 20px;
  }
}
