.header {
  align-items: center;
  background-color: var(--color-primary);
  color: rgb(255, 255, 255);
  display: flex;
  font-size: clamp(1rem, 0.765vw + 0.847rem, 1.5rem);
  font-weight: 500;
  gap: 0.5rem;
  height: 3rem;
  justify-content: flex-start;
  padding: 1rem clamp(0.5rem, 12vw, 6rem);
  white-space: nowrap;
}

/*
920 500 400
*/
